<footer>
    <div class="f-info ">
        <div class="f-info-socials">
            <!-- <a href=""></a> -->
            <i class="fa fa-facebook" aria-hidden="true"></i>
            
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </div>
        <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
        <br><div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;
            <a href="/trems">Terms</a>
        
        </div>
    </div>
</footer>